/*RESET*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
ul,ol, menu{
    list-style: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
img{
    max-width: 100%;
    display: block;
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/*LAYOUT*/
.app{
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
}
.sidebar{
    display: none;
}
.text-here{
    flex-grow: 1;
}
.emoticon, .mic{
    display: none;
}



/*COMPONENTS*/

/*UTILITIES*/
.border{
    border: 2px solid white;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items:center
}

.avatar{
    height: 53px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgb(82, 142, 182);
}
.gap-14{
    gap: 14px;
}

/*STYLE*/
/*da 0 a 768px*/
.app{
    background-color: #4D9388;
   
}
.container{
    border: 2px solid white;
   
}
.main-nav{
    height: 70px;
    background-color: lightgray;
    border: 2px solid black;
    min-width: 100%;
    padding: 6px 14px;

}
.main-chat{
    background-image: url(../img/mine.jpg);
    border-right: 15px solid white;
    min-width: 100%;
    height: calc(100vh - 140px);
    
}
.main-message{
    height: 70px;
    background-color: #F2EEEB;
    border: 2px solid black;
    min-width: 100%;
    padding: 10px 14px;
}
.sidebar .sidebar-header{
    height: 70px;
    padding: 10px 14px;
}
.main-tools{
    display:none;
}
.sidebar-nav{
    display: none;
}
.text-here{
    background-color: white;
}

/*MEDIA QUERY*/

/*da 768px a 992px*/

@media (min-width:768px){

    .row{
        display: flex;
    }
    .sidebar{
        display: block;
        width: 80px;
        min-height: 100%;
        background-color: #87afa9;
    }
    .sidebar-contacts{
        padding: 14px;
        gap: 14px;
    }
    .contact-sidebar-info, .last-message-time{
        display: none;
    }
    .app-main{
        flex-grow: 1;
    }
    .main-tools{
        display: block;
    }
    .emoticon, .mic{
        display: block;
    }
    .message-notification, 
    .sidebar-search {
        display: none;
    }
}

/*da 1200px in su*/

@media (min-width:1200px){

    .app{
        padding: 32px 0;
    }
    .container-lg{
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }
    .sidebar{
        width: 380px;
    }
    .contact-card{
        gap: 14px;
    }
    .contact-sidebar-info{
        display: block;
        flex-grow: 1;
    }
    .last-message-time{
        display: block;
        align-self: flex-start;
    }
    .main-chat{
        height: calc(100vh - 208px);
    }
    .sidebar-nav{
        display: block;
    }
    .message-notification{
        display: flex;
        align-items: center;
        background-color: #A6D7F9;
        padding: 14px;
        gap: 14px;
    }
   .sidebar-search{
    display: block;
    background-color: #FAFAFA;
    padding: 8px;
   }
   .search-box{
    background-color: white;
   }
   .search-text{
    padding: 10px 14px;
    flex-grow: 1;
   }
}