/*RESET*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
ul,ol, menu{
    list-style: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
img{
    max-width: 100%;
    display: block;
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/*LAYOUT*/
.app{
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
}
.sidebar{
    display: none;
}



/*COMPONENTS*/

/*UTILITIES*/

/*STYLE*/
/*da 0 a 768px*/
.app{
    background-color: #4D9388;
   
}
.container{
    border: 2px solid white;
   
}
.main-nav{
    height: 70px;
    background-color: lightgray;
    border: 2px solid black;
    min-width: 100%;

}
.main-content{
    background-color: rgb(231, 71, 60);
    border: 2px solid black;
    min-width: 100%;
    height: calc(100vh - 140px);
    
}
.main-chat{
    height: 70px;
    background-color: rgb(194, 176, 154);
    border: 2px solid black;
    min-width: 100%;
}


/*MEDIA QUERY*/

/*da 768px a 992px*/

@media (min-width:768px){

    .row{
        display: flex;
    }
    .sidebar{
        display: flex;
        width: 80px;
        min-height: 100%;
        background-color: #87afa9;
    }
    .app-main{
        flex-grow: 1;
    }
}

/*da 1200px in su*/

@media (min-width:1200px){

    .app{
        padding: 32px 0;
    }
    .container-lg{
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }
    .sidebar{
        width: 380px;
    }
    .main-content{
        height: calc(100vh - 208px);
    }
}